.proyectos {
  /* font-size: 20px; */
  margin-block-start: 2rem !important;
}

.fieldProyect {
  border-bottom: 1.5px solid #000000;
  padding-block-end: 1rem;
}

.columnaProyect img {
  width: 100%;
}
.columnaProyect {
  padding: 0;
}
